@import './reset';
@import './row-list';
@import './row';
@import './col';
@import './icon';



text, view, wx-input {
    font-family: 'Arial', 'Microsoft Yahei', 'Droid Sans Fallback', 'STHeiti-Light';
    font-size: 26rpx;
    color: #666;
    /* color: #3ac78b; */
}

page {
    min-height: 100%;
}

.clearfix {
    zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

.center {
    text-align: center;
}

.m-flex-wap {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.m-flex-per {
  /* text-align: center; */
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    display: block;
    padding: 0 !important;
}

.m-flex-per2 {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    width: 0;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
    display: block;
    padding: 0 !important;
}

.m-flex-per3 {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    width: 0;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
    display: block;
    padding: 0 !important;
}

.m-flex-per4 {
    -webkit-box-flex: 4;
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4;
    width: 0;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
    display: block;
    padding: 0 !important;
}

.m-flex-per5 {
    -webkit-box-flex: 6;
    -webkit-flex: 6;
    -ms-flex: 6;
    flex: 6;
    width: 0;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
    display: block;
    padding: 0 !important;
}

.imgFull, .imgFull image {
    width: 100%;
    max-width: auto;
    height: auto;
}

.line0 {
    line-height: 16rpx;
}

.line12 {
    line-height: 24rpx;
}

.line14 {
    line-height: 28rpx;
}

.line16 {
    line-height: 32rpx;
}

.line18 {
    line-height: 45rpx;
}

.line20 {
    line-height: 40rpx;
}

.line30 {
    line-height: 60rpx;
}

.font0 {
    font-size: 22rpx;
}

.font1 {
    font-size: 26rpx;
}

.font2 {
    font-size: 30rpx;
}

.font3 {
    font-size: 36rpx;
}

.font4 {
    font-size: 44rpx;
}
.font40 {
    font-size: 40rpx;
}
.font5 {
    font-size: 50rpx;
}

.font6 {
    font-size: 60rpx;
}

.col000, a.col000, .col000 a {
    color: #000;
}

.colPur, a.colPur, .colPur a {
    color: #8e6d9a;
}

.col999, a.col999, .col999 a {
    color: #999;
}

.col777, a.col777, .col777 a {
    color: #777;
}

.col666, a.col666, .col666 a {
    /* color: black; */
    color: #404040;
}

.col555, a.col555, .col555 a {
    color: #555;
}

.col333, a.col333, .col333 a {
    color: #333;
}

.colfff, a.colfff, .colfff a {
    color: #fff;
}

.colYe, a.colYe, .colYe a {
    color: #ff9805;
}

.colBlue, a.colBlue, .colBlue a {
    color: #6372ed;
}

.colPink, a.colPink {
    color: #FF547D;
}

.colRed, a.colRed, .colRed a {
    color: #850909;
}

.colOrange, a.colOrange, .colOrange a {
    color: #fe985a;
}




.colGreen, a.colGreen, .colGreen a {
    color: #459E8C;
}

.bold {
    font-weight: bold;
}



.hide {
    display: none !important;
}

.top2 {
    margin-top: 4rpx;
}

.top5 {
    margin-top: 10rpx;
}

.top8 {
    margin-top: 16rpx;
}

.top10 {
    margin-top: 20rpx;
}

.top12 {
    margin-top: 24rpx;
}

.top15 {
    margin-top: 30rpx;
}

.top20 {
    margin-top: 40rpx;
}

.top18 {
    margin-top: 36rpx;
}

.top25 {
    margin-top: 50rpx;
}

.top30 {
    margin-top: 60rpx;
}

.top35 {
    margin-top: 70rpx;
}

.top40 {
    margin-top: 80rpx;
}

.left5 {
    margin-left: 10rpx;
}

.left10 {
    margin-left: 20rpx;
}

.left15 {
    margin-left: 30rpx;
}

.left2 {
    margin-left: 4rpx;
}

.left20 {
    margin-left: 40rpx;
}

.left30 {
    margin-left: 60rpx;
}

.left35 {
    margin-left: 70rpx;
}

.left40 {
    margin-left: 80rpx;
}

.right5 {
    margin-right: 10rpx;
}

.right10 {
    margin-right: 20rpx;
}

.right15 {
    margin-right: 30rpx;
}

.right20 {
    margin-right: 40rpx;
}

.right30 {
    margin-right: 60rpx;
}

.btm5 {
    margin-bottom: 10rpx;
}

.btm8 {
    margin-bottom: 16rpx;
}

.btm10 {
    margin-bottom: 20rpx;
}

.btm15 {
    margin-bottom: 30rpx;
}

.btm20 {
    margin-bottom: 40rpx;
}

.btm30 {
    margin-bottom: 60rpx;
}

.right {
    float: right;
}

.left {
    float: left;
}

.verMi, .verMid {
    vertical-align: middle;
}

.verTop {
    vertical-align: top;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.pad5 {
    padding: 10rpx;
}

.pad10 {
    padding: 30rpx;
}

.pad10TB {
    padding: 20rpx 0;
}

.pad15 {
    padding: 30rpx;
}

.pad20 {
    padding: 40rpx;
}

.pad25 {
    padding: 50rpx;
}

.pad40 {
    padding: 80rpx;
}

.pad20TB {
    padding: 40rpx 0;
}
.pad20RL {
    padding: 0 40rpx;
}

.pad10TB {
    padding: 20rpx 0;
}

.pad15TB {
    padding: 30rpx 0;
}

.pad15RL {
    padding: 0 30rpx;
}

.pad15BT {
    padding: 0 30rpx 30rpx;
}
.padSp1{ padding: 20rpx 40rpx}

.underline {
    border-bottom: 1px solid #ccc;
    width: 50px;
    display: inline-block;
}

.bor_btm_so {
    border-bottom: 1px solid #E0E0E0;
}

button {
    border-radius: 0;
}

button[type="primary"] {
    background-color: #d18a21;
}

.button-hover[type="primary"] {
    background-color: #ffcc85;
}

.bgFFF {
    background-color: #fff;
}

.bgfff {
    background-color: #fff;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.inline {
    display: inline-block;
}

.text-over {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-through {
    text-decoration: line-through;
}

.tr {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.td {
    justify-content: center;
    text-align: center;
}

.btns {
    text-align: center;
    border-radius: 10rpx;
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    border: none;
    text-decoration: none;
    outline: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.btns text {
    color: #fff;
}

.btns text {
    font-size: 24rpx;
}

.btns:active {
    opacity: 0.8;
}

.btns-small {
    width:114rpx;
    line-height:51rpx;
    
    border-radius:10rpx;
}

.btns-biggest {
    width: 100%;
    line-height: 90rpx;
    border-radius: 6rpx;
    font-size: 32rpx;
}

.btns-ye {
    background-color: #ff9805;
}

.btns-green {
    background-color: rgba(69,158,140,1);
}

.btns-fff {
    background-color: #fff;
    color: #ff9805;
}
.box1{ height: 85rpx; line-height: 85rpx; }
.verBtm {
    vertical-align: bottom;
}
.title{ position: relative; padding-bottom: 4rpx; display: inline-block}
.title::after{ content: ''; width: 26rpx; height: 2px; background-color: #459E8A; position: absolute; bottom: 0; left: 0;}

.icoAll{ display: inline-block; vertical-align: middle}

.ico1{  width: 110rpx; height: 110rpx;}
.ico4{  width: 110rpx; height: 110rpx; position: fixed; bottom: 20%; right: 20rpx;}

.ico14{ width: 199rpx; height: 33rpx;}
.ico15{  width: 11rpx; height: 21rpx;}
.ico11{  width: 22rpx; height: 26rpx;}
.ico12{  width: 22rpx; height: 22rpx;}
.ico16{  width: 22rpx; height: 22rpx;}
.ico17{ width: 135rpx; height: 21rpx;}

.ico18{ width: 35rpx; height: 35rpx; position: absolute; top: 14rpx; left: 10rpx;}
.ico19{ width: 33rpx; height: 33rpx;}

.input1{ width: 100%; height: 100%; display: inline-block; box-sizing: border-box}
.tjxmWap .img{ width: 183rpx; height: 183rpx; border-radius: 5px;}
.fjmdWap{ padding: 20rpx 0; }
.fjmdWap2{ padding: 40rpx 0; }
.fjmdWap .img{ width: 110rpx; height: 110rpx; }

.tx1{ width: 136rpx; height: 136rpx; border-radius: 50%;}
.tx2{ width: 60px; height: 60px; border-radius: 10rpx;}

.seachWap{width:593rpx; position: relative; display: inline-block; height:61rpx; background:rgba(243,243,243,1); }
.shopInfWap{width:693rpx; margin: 0 auto; margin-top: -40rpx;
    background:rgba(255,255,255,1);
    box-shadow:0rpx 5rpx 13rpx 0rpx rgba(33,32,32,0.1);
    border-radius:10rpx;}


